<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js"></script>
    <script type="text/javascript">
      Ext.onReady(function () {
        win = new Ext.Window({
          title: 'Email Window',
          layout: 'form',
          width: 400,
          closeAction: 'close',
          target: document.getElementById('buttonId'),
          plain: true,
          items: [{
            xtype: 'textfield',
            fieldLabel: 'To'
          }, {
            xtype: 'textfield',
            fieldLabel: 'CC'
          }, {
            xtype: 'textfield',
            fieldLabel: 'BCC'
          }, {
            xtype: 'textfield',
            fieldLabel: 'Subject'
          }, {
            xtype: 'textarea',
            fieldLabel: 'Email Message'
          }],
          buttons: [{
            text: 'Save Draft',
            handler: function () {
              Ext.Msg.alert('Save Draft', 'Msg is saved');
            }
          }, {
            text: 'Send',
            handler: function () {
              Ext.Msg.alert('Message Sent', 'Msg is sent');
            }
          }, {
            text: 'Cancel',
            handler: function () {
              win.close();
              Ext.Msg.alert('close', 'Window is closing');
            }
          }],
          buttonAlign: 'center'
        });
        Ext.create('Ext.Button', {
          renderTo: Ext.getElementById('buttonId'),
          text: 'Click me',
          listeners: {
            click: function () {
              win.show();
            }
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <p>To Send a new mail, click on button</p>
      <div id="buttonId"></div>
    </div>
  </body>
</html>
